<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CustomerID"  value="4090"/> <!--Customer ID-->
    <add key="CustomerPassword" value="0904"/> <!--Customer Password-->   
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="999999999"></httpRuntime>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="DeliveryStreamBehavior" name="DeliveryStreamCustomerWCF.Service.CustomerService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EpicBinding" contract="DeliveryStreamCustomerWCF.Service.ICustomerService" />
        <!--<endpoint address="" binding="basicHttpBinding" contract="DeliveryStreamCustomerWCF.Service.ICustomerService" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="EpicBinding"  closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DeliveryStreamCustomerWCF.IISHost.StoredProcedureAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DeliveryStreamBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="Customer.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!--<connectionStrings>
    <add name="DeliveryStreamCustomer" connectionString="Data Source=192.168.2.66\sql2008;Initial Catalog=Santmyer04062014;Persist Security Info=True;User ID=sa;Password=fsww" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="DeliveryStreamCustomer" connectionString="Data Source=FSWWIN-PC046;Initial Catalog=AscendChrisNew;Persist Security Info=True;User ID=SA;Password=FSWW123!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
